/*
Aufgabe: <Aufgabe 2, MauMau>
Name: <Sina Haas>
Matrikel: <>
Datum: <07.04.19>
	
In Zusammenarbeit mit Bente Gossel, Katharina Schmitt, Julian Schubert, mit Hilfe von Lucas Rohrberg.
*/




body {
    background-color: saddlebrown;
}




.wrapper{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
   
}




div[class*="Pik"]{
    background-color:darkgrey;
    padding:1em;
    min-height: 250px;
    min-width: 200px;
    border: solid black 0.1em;
   

}

div[class*="Kreuz"]{
    background-color:darkred;
    padding: 1em;
    min-height: 250px;
    min-width: 200px;
    border: solid black 0.1em;
    
    
}

div[class*="Karo"]{
    background-color: darkgrey;
    padding: 1em;
    min-height: 250px;
    min-width: 200px;
    
    border: solid black 0.1em;
    
    
}

div[class*="Herz"]{
    background-color:red;
    padding:1em;
    min-width: 200px;
    min-height: 250px;
    border: solid black 0.1em;
    
   
    
}

.stylen {
    background-color: black;
    color: white;
    border: solid;
    height: 250px;
    width: 200px;
    margin: 2em;
    padding: 1em;
}

.wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}