body {
    background-color: cadetblue;
}

/*.blub {
    background-color: red;
    border-style: solid; 

}*/

p[class*="Pik"]{
    background-color: blue;
}

p[class*="Kreuz"]{
    background-color: green;
}