/*
Aufgabe: <Aufgabe 2, MauMau>
Name: <Sina Haas>
Matrikel: <>
Datum: <07.04.19>
	
In Zusammenarbeit mit Bente Gossel, Katharina Schmitt, Julian Schubert, mit Hilfe von Lucas Rohrberg.
*/




body {
    background-color: saddlebrown;
}




.wrapper{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
   
}




p[class*="Pik"]{
    background-color:darkgrey;
    padding:1em;
    min-height: 250px;
    min-width: 200px;
    border: solid black 0.1em;
   

}

p[class*="Kreuz"]{
    background-color:darkred;
    padding: 1em;
    min-height: 250px;
    min-width: 200px;
    border: solid black 0.1em;
    
    
}

p[class*="Karo"]{
    background-color: darkgrey;
    padding: 1em;
    min-height: 250px;
    min-width: 200px;
    
    border: solid black 0.1em;
    
    
}

p[class*="Herz"]{
    background-color:red;
    padding:1em;
    min-width: 200px;
    min-height: 250px;
    border: solid black 0.1em;
    
   
    
}

.stylen {
    background-color: black;
    color: white;
    border: solid;
    margin: 50px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 50px;
    padding-top: 100px;
    padding-bottom:100px;
    
}